<%- include("../partials/header") %>

<div class=container>
	
	<header class=jumbotron>
		<div class=container>
			<h1>Welcome to Yelp Camp</h1>
			<p>View our best Campgrounds handpicked by the travellers like you</p>
			<p><a class="btn btn-primary btn-lg" href=/campgrounds/new>Add new Campground</a></p>
		</div>
	</header>
	
	<div class=row>
		<div class="col-lg-12">
			<h3>Our most popular Campgrounds!</h3>
		</div>
	</div>
		
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">	
		<%campgrounds.forEach((cg)=>{%>
			<div class="col-md-3 col-sm-6">
				<div class=thumbnail>
					 <img src="<%=cg.image%>">
					<div class=caption>
						<h4><%=cg.name%></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= cg._id %>" class="btn btn-lg btn-primary">More Info</a>
					</p>
				</div>	
			</div>
		<%})%>
	</div>
	
</div>

<%- include("../partials/footer") %>